<!--
 * @Descripttion: 联系我们
 * @Author: ytx
 * @Date: 2023-08-07 16:55:51
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-07 16:55:51
-->
<p
  style="
    font-size: 21px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 17px;
  "
  class="animate"
>
  浙江机至数字科技有限公司
</p>
<p
  style="
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #808080;
    line-height: normal;
    margin-top: 14px;
  "
  class="animate"
>
  Zhe Jiang Ji Zhi Shu Zi Ke Ji You Xian Gong Si
</p>
<p
  style="
    border-bottom: 1px solid #e9e9e9;
    height: 1px;
    width: 308px;
    line-height: normal;
    margin-top: 20px;
  "
  class="animate"
></p>

<section
  style="font-size: 16px; color: #222222; line-height: normal; margin-top: 20px"
>
  <p class="animate">传真：{pboot:companyphone}</p>
  <p class="animate" style="margin-top: 20px">电子邮件：{pboot:companyemail}</p>
  <p class="animate" style="margin-top: 20px">
    地址：上海市杨浦区国权北路1688弄
  </p>
  <p class="animate" style="margin-top: 20px">湾谷科技园A7座3楼，200438</p>
</section>
<p
  style="font-size: 16px; color: #222222; line-height: normal; margin-top: 20px"
  class="animate"
>
  上海 | 北京 | 金华 | 成都 | 西雅图
</p>
<section style="display: flex; margin-top: 20px; align-items: center">
  <img
    src="{pboot:sitedomain}/skin/images/disposition/QRcode.png"
    alt=""
    style="width: 80px; height: 80px"
  />
  <section
    style="
      background: #cc3534;
      border-radius: 1px;
      display: flex;
      padding: 15px;
      margin-left: 18px;
      align-items: center;
      width: 216px;
      height: 70px;
    "
  >
    <img
      src="{pboot:sitedomain}/skin/images/disposition/telep.png"
      alt=""
      style="width: 40px; height: 40px"
    />
    <section
      style="
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        font-family: PingFangSC-Medium, PingFang SC;
        margin-left: 15px;
      "
    >
      <p>咨询热线</p>
      <p
        style="
          font-weight: 400;
          font-family: PingFangSC-Regular, PingFang SC;
          font-size: 16px;
        "
      >
        {pboot:companyphone}
      </p>
    </section>
  </section>
</section>
