<!--
 * @Descripttion: 客户评价
 * @Author: ytx
 * @Date: 2023-08-07 11:41:34
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-07 11:41:34
-->
<p class="tit-1 index-row">客户评价</p>
<section class="pb-carouselWarp solution__evaluate" id="solution__evaluate--id">
  <ul class="pb-carousel">
    <li class="pb-this">
      <p></p>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/evaluate1.png"
        alt=""
      />
      <div class="solution__evaluate--content">
        <section class="solution__evaluate--dec header__wp animate">
          <div class="solution__evaluate--box">
            <img
              src="{pboot:sitedomain}/skin/images/disposition/mark.png"
              alt=""
            />
            <p>
              通过机至智慧运维解决方案，部署传感器、CMS和EAM系统以“硬软结合”的方式实现全闭环设备管理，保障安全生产；减少设备停机时间20%；提升发电量15%。
            </p>
            <section>
              <img
                src="{pboot:sitedomain}/skin/images/disposition/stars.png"
                alt=""
              />
              <p>——国惠集团 设备部主管</p>
            </section>
          </div>
        </section>
      </div>
    </li>
    <li>
      <p></p>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/evaluate2.png"
        alt=""
      />
      <div class="solution__evaluate--content">
        <section class="solution__evaluate--dec header__wp">
          <div class="solution__evaluate--box">
            <img
              src="{pboot:sitedomain}/skin/images/disposition/mark.png"
              alt=""
            />
            <p>
              借助机至智慧运维平台，我们对故障维修过程实现了有效的监督和管理，故障修复效率提升了80%，设备管理效率提升至90%以上。同时，设备管理的业务流程、业务管控、业务分析实现99%以上的线上化率。
            </p>
            <section>
              <img
                src="{pboot:sitedomain}/skin/images/disposition/stars.png"
                alt=""
              />
              <p>——华润化学 智信部经理</p>
            </section>
          </div>
        </section>
      </div>
    </li>
    <li>
      <p></p>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/evaluate3.png"
        alt=""
      />
      <div class="solution__evaluate--content">
        <section class="solution__evaluate--dec header__wp">
          <div class="solution__evaluate--box">
            <img
              src="{pboot:sitedomain}/skin/images/disposition/mark.png"
              alt=""
            />
            <p>
              机至系统上线后，已实现部分工厂在设备管理的数字化、无纸化，有效提高了公司设备管理效率，实现了集团各工厂之间维修经验、备件、维修人员的透明化和共享。
            </p>
            <section>
              <img
                src="{pboot:sitedomain}/skin/images/disposition/stars.png"
                alt=""
              />
              <p>——吉利汽车 IT项目经理</p>
            </section>
          </div>
        </section>
      </div>
    </li>
    <li>
      <p></p>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/evaluate4.png"
        alt=""
      />
      <div class="solution__evaluate--content">
        <section class="solution__evaluate--dec header__wp">
          <div class="solution__evaluate--box">
            <img
              src="{pboot:sitedomain}/skin/images/disposition/mark.png"
              alt=""
            />
            <p>
              过去我们通过ERP去补录工单和线下纸档记工单。现在通过机至智慧运维管理系统，能够实时了解工单状态，沉淀工单数据，维修人员绩效也有了数据支撑，备件通过工单关联到了使用的设备上，备件的安全库存建立也有了依据，故障停机率降低了30%。
            </p>
            <section>
              <img
                src="{pboot:sitedomain}/skin/images/disposition/stars.png"
                alt=""
              />
              <p>——华润三九 智能智造高级顾问经理</p>
            </section>
          </div>
        </section>
      </div>
    </li>
  </ul>
</section>
<section
  class="pb-carouselWarp solution__evaluate"
  id="solution__evaluate--id"
  style="height: 25px; margin-top: 25px"
>
  <ul class="pb-carousel-ind">
    <li class="pb-this"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>
