<!--
 * @Descripttion: 能源管理
 * @Author: ytx
 * @Date: 2023-08-07 14:49:42
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-07 14:49:42
-->
<!-- 一.4 -->
<!-- 能源管理---业务痛点 -->
<p class="tit-1">业务痛点</p>
<section
  class="header__wp solution__appealBox"
  style="
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
  "
>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint11.png"
      alt=""
    />
    <p class="animate">能源分布不均衡</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint12.png"
      alt=""
    />
    <p class="animate">缺乏能源分析及能耗预测</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint13.png"
      alt=""
    />
    <p class="animate">缺乏统一调度</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint14.png"
      alt=""
    />
    <p class="animate">数据可视性差</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint15.png"
      alt=""
    />
    <p class="animate">巡检方式落后</p>
  </section>
</section>

<!-- 二 -->
<p class="tit-1 index-row">消除高能耗节点，建立高效能源管理体系</p>
<section id="dg-container" class="dg-container">
  <div class="dg-wrapper">
    <div>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/carousel11.png"
        alt="image02"
      />
      <section>
        <p>趋势分析</p>
        <p>
          对各类能源使用、消耗、转换，按班组、区域、产线、工段等进行日、周、月、年、指定时段绩效统计，帮助企业洞悉内部能效水平和节能潜力。
        </p>
      </section>
    </div>

    <div>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/carousel12.png"
        alt="image03"
      />
      <section>
        <p>可视化管理</p>
        <p>
          实现能耗总量、折标值、能源成本、能源消耗趋势、分享能耗占比、区域能耗对比等可视化展示；同时，支持三维展示重要工艺的能源消耗动态。
        </p>
      </section>
    </div>

    <div>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/carousel13.png"
        alt="image04"
      />
      <section>
        <p>数据预测</p>
        <p>
          分析生产工艺、生产设备等能耗使用情况，建立能耗计算模型。利用人工智能算法对能耗趋势进行预测分析，为节能提供有效的决策依据。
        </p>
      </section>
    </div>

    <div>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/carousel14.png"
        alt="image05"
      />
      <section>
        <p>用能统计</p>
        <p>
          从能源使用种类、监测区域、生产工艺/工段时间、分项等多维度对企业用能统计和分析，调整能源分配策略，减少能源浪费。
        </p>
      </section>
    </div>

    <div>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/carousel15.png"
        alt="image05"
      />
      <section>
        <p>单耗统计</p>
        <p>
          以产品产量及能耗数据为依据，形成产品单耗趋势图和同比、环比分析图，帮助企业根据产品单耗情况调整生产工艺，降低能耗。
        </p>
      </section>
    </div>
  </div>

  <span class="dg-prev">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/arrowleft.png"
      alt=""
    />
  </span>

  <span class="dg-next">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/arrowright.png"
      alt=""
    />
  </span>

  <div
    class="bookDemo bookDemoClass"
    id="experiencePro"
    style="
      position: absolute;
      left: 50%;
      bottom: 35px;
      transform: translateX(-70px);

      width: 140px;
      height: 40px !important;
      line-height: 40px !important;
    "
  >
    <div>
      立即体验<img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
    </div>
  </div>
</section>

<!-- 三.4 -->
<!-- 能源管理--节能减碳，降低成本 -->
<p class="tit-1 index-row">节能减碳，降低成本</p>
<p class="h60"></p>
<section
  class="header__wp solution__growth"
  style="
    background: #fafafa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  "
>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/value10.png" alt="" />
    <p class="animate">
      助力客户构建数字化能源管理体系，减少碳排放，在“碳中和”时代赢得先机。
    </p>
  </section>
  <section class="solution__growth--hover">
    <img src="{pboot:sitedomain}/skin/images/disposition/value11.png" alt="" />
    <p class="animate">
      能效多维度分析呈现，为集团精益化能源管理提供可靠的决策支撑。
    </p>
  </section>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/value12.png" alt="" />
    <p class="animate">提高电能使用效率，节约能源降低生产成本</p>
  </section>
</section>
<section
  class="header__wp solution__growth--val"
  style="display: flex; justify-content: space-between; flex-wrap: wrap"
>
  <section class="animate">
    <section>
      <p id="num1">5</p>
      <p>%</p>
    </section>
    <p>能耗降低</p>
  </section>
  <section class="animate">
    <section>
      <p id="num2">12</p>
      <p>%</p>
    </section>
    <p>能源成本下降</p>
  </section>
  <section class="animate">
    <section>
      <p id="num3">50</p>
      <p>%</p>
    </section>
    <p>人员效率提高</p>
  </section>
</section>
