<!--
 * @Descripttion: 生产管理
 * @Author: ytx
 * @Date: 2023-08-07 14:42:05
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-07 14:42:05
-->
<!-- 生产管理---业务痛点 3 -->
<p class="tit-1">业务痛点</p>
<section
  class="header__wp solution__appealBox"
  style="
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
  "
>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint6.png"
      alt=""
    />
    <p class="animate">排期不合理</p>
  </section>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint7.png"
      alt=""
    />
    <p class="animate">进度不透明</p>
  </section>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint8.png"
      alt=""
    />
    <p class="animate">生产数据滞后</p>
  </section>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint9.png"
      alt=""
    />
    <p class="animate">质检不规范</p>
  </section>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint10.png"
      alt=""
    />
    <p class="animate">物料管理混乱</p>
  </section>
</section>

<!-- 二. 让“数智化”贯穿每个生产车间 -->
<p class="tit-1 index-row">让“数智化”贯穿每个生产车间</p>
<section class="production__overview">
  <img
    class="header__wp"
    src="{pboot:sitedomain}/skin/images/disposition/carousel6.png"
    alt=""
  />
</section>
<!-- ① -->
<section class="header__wp production__overview--content">
  <section
    class="production__overview--dec margin__left"
    style="margin-left: 7%"
  >
    <div class="animate">数据中台</div>
    <div class="animate">
      全厂无纸化作业，数据信息自动流转; <br />
      多系统数据实时自动汇总和传输; <br />
      功能模块化，组件化，灵活配置。<br />
    </div>
    <div
      class="bookDemo bookDemoClass"
      id="experiencePro"
      style="margin: 30px 0 !important"
    >
      <div>
        立即体验
        <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
      </div>
    </div>
  </section>
  <img src="{pboot:sitedomain}/skin/images/disposition/carousel7.png" alt="" />
</section>
<!-- ② -->
<section style="background: #fafafa">
  <section class="header__wp production__overview--content flex__direction">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/carousel8.png"
      alt=""
    />
    <section
      class="production__overview--dec margin__right"
      style="margin-right: 7%"
    >
      <div class="animate">实时监控</div>
      <div class="animate">
        实时把控生产进度——生产过程可视化；<br />
        软/硬ANDON——异常流程可视化；<br />
        准时化（JIT）式物流配送——物流配送可视化。<br />
      </div>
      <div
        class="bookDemo bookDemoClass"
        id="experiencePro"
        style="margin: 30px 0 !important"
      >
        <div>
          立即体验
          <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
        </div>
      </div>
    </section>
  </section>
</section>
<!-- ③ -->
<section class="header__wp production__overview--content">
  <section
    class="production__overview--dec margin__left"
    style="margin-left: 7%"
  >
    <div class="animate">运算分析</div>
    <div class="animate">
      生产绩效统计自助统计；<br />
      质量多维度数据统计报表；<br />
      精益消除浪费报表分析。<br />
    </div>
    <div
      class="bookDemo bookDemoClass"
      id="experiencePro"
      style="margin: 30px 0 !important"
    >
      <div>
        立即体验
        <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
      </div>
    </div>
  </section>
  <img src="{pboot:sitedomain}/skin/images/disposition/carousel9.png" alt="" />
</section>
<!-- ④ -->
<section style="background: #fafafa">
  <section class="header__wp production__overview--content flex__direction">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/carousel10.png"
      alt=""
    />
    <section
      class="production__overview--dec margin__right"
      style="margin-right: 7%"
    >
      <div class="animate">智能决策</div>
      <div class="animate">
        智能生产排产；<br />
        智能核算产品效益；<br />
        自主把控产品质量稳定性预<br />
      </div>
      <div
        class="bookDemo bookDemoClass"
        id="experiencePro"
        style="margin: 30px 0 !important"
      >
        <div>
          立即体验
          <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
        </div>
      </div>
    </section>
  </section>
</section>

<!-- 三.3 -->
<!-- 生产管理--打破信息壁垒，有效降低企业运行管理成本 -->
<p class="tit-1 index-row">打破信息壁垒，有效降低企业运行管理成本</p>
<p class="h60"></p>
<section
  class="header__wp solution__growth content__half"
  style="
    background: #fafafa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  "
>
  <section style="padding: 2% 5%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/value4.png"
      alt=""
      class="solution__growth--img"
    />
    <p class="animate">柔性计划排产</p>
  </section>
  <section style="padding: 2% 5%" class="solution__growth--hover">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/value5.png"
      alt=""
      class="solution__growth--img"
    />
    <p class="animate">制程可追溯性</p>
  </section>
  <section style="padding: 2% 5%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/value6.png"
      alt=""
      class="solution__growth--img"
    />
    <p class="animate">设备运行稳定性</p>
  </section>
  <section style="padding: 2% 5%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/value7.png"
      alt=""
      class="solution__growth--img"
    />
    <p class="animate">质量信息分析</p>
  </section>
  <section style="padding: 2% 5%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/value8.png"
      alt=""
      class="solution__growth--img"
    />
    <p class="animate">仓储物流拉动</p>
  </section>
  <section style="padding: 2% 5%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/value9.png"
      alt=""
      class="solution__growth--img"
    />
    <p class="animate">工业可视化</p>
  </section>
</section>
<section
  class="header__wp solution__growth--val"
  style="display: flex; justify-content: space-between; flex-wrap: wrap"
>
  <section class="animate">
    <section>
      <p id="num1">22</p>
      <p>%</p>
    </section>
    <p>生产周期缩短</p>
  </section>
  <section class="animate">
    <section>
      <p id="num2">13</p>
      <p>%</p>
    </section>
    <p>库存资金减少</p>
  </section>
  <section class="animate">
    <section>
      <p id="num3">58</p>
      <p>%</p>
    </section>
    <p>人员效率提升</p>
  </section>
  <section class="animate">
    <section>
      <p id="num4">44</p>
      <p>%</p>
    </section>
    <p>增加产能超过</p>
  </section>
</section>
