<!--
 * @Descripttion: 安全管理
 * @Author: ytx
 * @Date: 2023-08-08 11:36:02
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-08 11:36:02
-->
<!-- 能源管理---安全管理 -->
<p class="tit-1">业务痛点</p>
<section
  class="header__wp solution__appealBox"
  style="
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
  "
>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint16.png"
      alt=""
    />
    <p class="animate">安全生产风险感知和处置能力弱</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint17.png"
      alt=""
    />
    <p class="animate">责任管理不清晰</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint18.png"
      alt=""
    />
    <p class="animate">信息传递有屏障</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint19.png"
      alt=""
    />
    <p class="animate">业务流程未打通</p>
  </section>
  <section style="padding: 2% 4% 1%">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/painpoint20.png"
      alt=""
    />
    <p class="animate">人员安全管理难度大</p>
  </section>
</section>

<!-- 二. 全面管控风险，提高安全效能 -->
<p class="tit-1 index-row">全面管控风险，提高安全效能</p>
<section class="production__overview">
  <img
    class="header__wp"
    src="{pboot:sitedomain}/skin/images/disposition/carousel16.png"
    alt=""
  />
</section>
<!-- ① -->
<section class="header__wp production__overview--content">
  <section
    class="production__overview--dec margin__left"
    style="margin-left: 7%"
  >
    <div class="animate">三大完整性体系</div>
    <div class="animate">
      对设备设施开展技术、管理、经济三大完整性体系建设；全面监控设备的运行情况和健康状态，帮助企业迅速发现问题并采取措施，实现PDCA闭环管理。
    </div>
    <div
      class="bookDemo bookDemoClass"
      id="experiencePro"
      style="margin: 30px 0 !important"
    >
      <div>
        立即体验<img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
      </div>
    </div>
  </section>
  <img src="{pboot:sitedomain}/skin/images/disposition/carousel17.png" alt="" />
</section>
<!-- ② -->
<section style="background: #fafafa">
  <section class="header__wp production__overview--content flex__direction">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/carousel18.png"
      alt=""
    />
    <section
      class="production__overview--dec margin__right"
      style="margin-right: 7%"
    >
      <div class="animate">风险管控</div>
      <div class="animate">
        风险总览、风险评价、风险应对、风险预警、风险动态管理、风险管理记录六大板块全面管控生产作业中的各类风险，提高工作效率和应急处置能力。
      </div>
      <div
        class="bookDemo bookDemoClass"
        id="experiencePro"
        style="margin: 30px 0 !important"
      >
        <div>
          立即体验
          <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
        </div>
      </div>
    </section>
  </section>
</section>
<!-- ③ -->
<section class="header__wp production__overview--content">
  <section
    class="production__overview--dec margin__left"
    style="margin-left: 7%"
  >
    <div class="animate">隐患排查治理</div>
    <div class="animate">
      平台搭建完善的隐患排查、登记、核查、治理、验收等闭环管控流程；辅助企业实现隐患排查工作的标准化、规范化、高效化。
    </div>
    <div
      class="bookDemo bookDemoClass"
      id="experiencePro"
      style="margin: 30px 0 !important"
    >
      <div>
        立即体验<img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
      </div>
    </div>
  </section>
  <img src="{pboot:sitedomain}/skin/images/disposition/carousel20.png" alt="" />
</section>
<!-- ④ -->
<section style="background: #fafafa">
  <section class="header__wp production__overview--content flex__direction">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/carousel19.png"
      alt=""
    />
    <section
      class="production__overview--dec margin__right"
      style="margin-right: 7%"
    >
      <div class="animate">风险预警可视化</div>
      <div class="animate">
        实时掌握工厂生产作业中风险点的动态；直观了解各区域预警的整体情况；帮助企业有效管理和控制风险，实现安全生产。
      </div>
      <div
        class="bookDemo bookDemoClass"
        id="experiencePro"
        style="margin: 30px 0 !important"
      >
        <div>
          立即体验
          <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
        </div>
      </div>
    </section>
  </section>
</section>

<!-- 三.3 -->
<!-- 生产管理--打破信息壁垒，有效降低企业运行管理成本 -->
<p class="tit-1 index-row">安全可控，降低污染</p>
<p class="h60"></p>
<section
  class="header__wp solution__growth"
  style="
    background: #fafafa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  "
>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/value17.png" alt="" />
    <p class="animate" style="font-size: 18px; color: #333333; margin: 10px 0">
      增强评估能力
    </p>
    <p class="animate">
      通过机至安全管理方案增强安全生产的感知、监测、预警、处置和评估能力。
    </p>
  </section>
  <section class="solution__growth--hover">
    <img src="{pboot:sitedomain}/skin/images/disposition/value18.png" alt="" />
    <p class="animate" style="font-size: 18px; color: #333333; margin: 10px 0">
      提升安全水平
    </p>
    <p class="animate">
      实现安全生产从静态分析向动态感知、事后应急向事前预防、单点防控向全局联防的转变，提升工业生产本质安全水平。
    </p>
  </section>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/value19.png" alt="" />
    <p class="animate" style="font-size: 18px; color: #333333; margin: 10px 0">
      25年资深专家团队
    </p>
    <p class="animate">
      25年资深专家团队提供专业化咨询服务，帮助企业建立科学的安全管理体系。
    </p>
  </section>
</section>
