<!--
 * @Descripttion: 工业 4.0 解决方案
 * @Author: ytx
 * @Date: 2023-08-07 11:39:40
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-07 11:39:40
-->
<!-- 一.1 -->
<!-- 企业核心诉求 -->
<p class="tit-1">企业核心诉求</p>
<section
  class="header__wp solution__appealBox"
  style="
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
  "
>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/appeal1.png" alt="" />
    <p class="animate">提质增效，降低成本</p>
  </section>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/appeal2.png" alt="" />
    <p class="animate">节能降耗，低碳环保</p>
  </section>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/appeal3.png" alt="" />
    <p class="animate">安全可控，降低污染</p>
  </section>
  <section>
    <img src="{pboot:sitedomain}/skin/images/disposition/appeal4.png" alt="" />
    <p class="animate">技术创新，可持续发展</p>
  </section>
</section>

<!-- 二.1 -->
<!-- 机至工业4.0解决方案，支撑企业全方位数字化管理 -->
<p class="tit-1 index-row">机至工业4.0解决方案，支撑企业全方位数字化管理</p>
<p
  style="
    text-align: center;
    color: #808080;
    font-size: 14px;
    height: 40px;
    margin-bottom: 10px;
    height: fit-content;
    padding: 0 10px;
  "
  class="animate"
>
  覆盖设备全生命周期管理、智慧运维、生产管理、能源管理、安全管理等场景，提供“软件中台+智能硬件+专业服务”一站式解决方案
</p>
<div style="background: #fafafa; user-select: none; padding-bottom: 30px">
  <img
    src="{pboot:sitedomain}/skin/images/disposition/digitization.png"
    alt=""
    style="padding: 30px 10%"
    class="solution__memo--img"
  />
  <div
    class="bookDemo bookDemoClass yuyue"
    id="experiencePro"
    style="width: 140px; height: 40px !important; line-height: 40px !important"
  >
    <div>
      获取解决方案
      <img src="{pboot:sitedomain}/skin/images/jiantou.png" alt="" />
    </div>
  </div>
</div>

<!-- 三.1 -->
<!-- 释放潜能，撬动企业新增长点 -->
<p class="tit-1 index-row">助力企业撬动新增长点</p>
<p class="h60"></p>
<section
  class="header__wp solution__growth"
  style="
    background: #fafafa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  "
>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/growthPoint1.png"
      alt=""
    />
    <p class="animate">
      提高能源的使用效率，包括油、气、电等等，而减少能源的浪费，并提高使用率，侧面提高了GDP。
    </p>
  </section>
  <section class="solution__growth--hover">
    <img
      src="{pboot:sitedomain}/skin/images/disposition/growthPoint2.png"
      alt=""
    />
    <p class="animate">
      提高工业系统与设备的维修和维护效率，降低宕机的时间，减少故障，缩短维护时间，提高了生产力。
    </p>
  </section>
  <section>
    <img
      src="{pboot:sitedomain}/skin/images/disposition/growthPoint3.png"
      alt=""
    />
    <p class="animate">
      优化并简化运营，提高运营效率，释放更多宝贵的人力资源，投入于更有价值与富有创新的工作中。
    </p>
  </section>
</section>
<section
  class="header__wp solution__growth--val"
  style="display: flex; justify-content: space-between; flex-wrap: wrap"
>
  <section class="animate">
    <section>
      <p id="num1">12</p>
      <p>%</p>
    </section>
    <p>能效提高</p>
  </section>
  <section class="animate">
    <section>
      <p id="num2">25</p>
      <p>%</p>
    </section>
    <p>故障降低</p>
  </section>
  <section class="animate">
    <section>
      <p id="num3">50</p>
      <p>%</p>
    </section>
    <p>人员效率提升</p>
  </section>
  <section class="animate">
    <section>
      <p id="num4">50</p>
      <p>%</p>
    </section>
    <p>备件成本降低</p>
  </section>
  <section class="animate">
    <section>
      <p id="num5">20</p>
      <p>%</p>
    </section>
    <p>生产周期缩短</p>
  </section>
</section>
