<!--
 * @Descripttion: 机至赋能行业典型案例
 * @Author: ytx
 * @Date: 2023-08-07 11:40:29
 * @Last Modified by: ytx
 * @Last Modified time: 2023-08-07 11:40:29
-->
<p class="tit-1 index-row">机至赋能行业典型案例</p>
<div class="h50"></div>
<section class="header__wp solution__case">
  <section class="solution__case--tabs">
    <section class="solution__case--tabs--hover">
      <img
        src="{pboot:sitedomain}/skin/images/disposition/casenormality1.png"
        alt=""
        style="width: 30px; height: 30px !important; display: none"
      />
      <img
        src="{pboot:sitedomain}/skin/images/disposition/caseselection1.png"
        alt=""
        style="width: 30px; height: 30px !important"
      />
      <section>
        <p>电力行业</p>
        <p>Electric power indus</p>
      </section>
    </section>

    <section>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/casenormality2.png"
        alt=""
        style="width: 30px; height: 30px !important"
      />
      <img
        src="{pboot:sitedomain}/skin/images/disposition/caseselection2.png"
        alt=""
        style="width: 30px; height: 30px !important; display: none"
      />
      <section>
        <p>化工行业</p>
        <p>Chemical industry</p>
      </section>
    </section>

    <section>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/casenormality3.png"
        alt=""
        style="width: 30px; height: 30px !important"
      />
      <img
        src="{pboot:sitedomain}/skin/images/disposition/caseselection3.png"
        alt=""
        style="width: 30px; height: 30px !important; display: none"
      />
      <section>
        <p>水务行业</p>
        <p>Water industry</p>
      </section>
    </section>

    <section>
      <img
        src="{pboot:sitedomain}/skin/images/disposition/casenormality4.png"
        alt=""
        style="width: 30px; height: 30px !important"
      />
      <img
        src="{pboot:sitedomain}/skin/images/disposition/caseselection4.png"
        alt=""
        style="width: 30px; height: 30px !important; display: none"
      />
      <section>
        <p>食品行业</p>
        <p>Food industry</p>
      </section>
    </section>
  </section>
  <!-- 内容 -->
  <section class="solution__case--content animate">
    <!-- 电力行业 -->
    <section class="solution__case--dec">
      <section>
        <section>
          <section style="width: 70px">案例背景：</section>
          <section>
            S公司是中国知名的海上风电整机商，致力于创造有未来的能源，打造全球领先的风电全生命周期服务商。业务覆盖风机制造、运维服务等，以智能化、数字化技术打造先进智能化运维体系，为客户提供快捷周到的运维服务。为客户提供快捷周到的…
          </section>
        </section>
        <section style="margin-top: 25px">
          <section style="width: 70px">解决方案：</section>
          <section>
            <section>
              ■
              通过部署传感器、CMS和EAM系统以“硬软结合”的方式实现全闭环设备管理，保障安全生产；
            </section>
            <section>■ 以CMS系统实现智能监测、智能诊断、预测性维修；</section>
            <section>
              ■
              以EAM系统实现设备档案管理、检维修管理、保养管理、库存管理、设备全生命周期管理、运行管理等；设备档案管理、检维修管理、保养管理、库存管理、设备…
            </section>
          </section>
        </section>
        <section style="margin-top: 40px">
          <section style="width: 70px">预估效益：</section>
          <section>
            <section>
              发电量提升15%；减员20%。
              <section
                style="
                  width: 228px;
                  height: 3px;
                  background: linear-gradient(
                    270deg,
                    rgba(198, 33, 39, 0) 0%,
                    #c62127 100%
                  );
                  position: relative;
                  top: -7px;
                "
              ></section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <img
          src="{pboot:sitedomain}/skin/images/disposition/typicalcase1.jpg"
          alt=""
        />
      </section>
    </section>
    <!-- 化工行业 -->
    <section class="solution__case--dec" style="display: none">
      <section>
        <section>
          <section style="width: 70px">案例背景：</section>
          <section>
            C集团是一家多元化产业集团，主要产业包括化工、物流等，业务覆盖全球80多个国家和地区。当前主要面对有科技创新、环保与安全生产以及控制危险化学品风险、有害物质排放治理三大挑战。
          </section>
        </section>
        <section style="margin-top: 25px">
          <section style="width: 70px">解决方案：</section>
          <section>
            <section>■ 建立人工智能平台；</section>
            <section>■ 推动集团向数字化、自动化和智能化集团转型；</section>
            <section>
              ■ 制定设备维修策略，大幅度地降低设备维修成本和备件消耗水平。
            </section>
          </section>
        </section>
        <section style="margin-top: 40px">
          <section style="width: 70px">预估效益：</section>
          <section>
            <section>
              备件成本降低20%，停机率降低25%。
              <section
                style="
                  width: 228px;
                  height: 3px;
                  background: linear-gradient(
                    270deg,
                    rgba(198, 33, 39, 0) 0%,
                    #c62127 100%
                  );
                  position: relative;
                  top: -7px;
                "
              ></section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <img
          src="{pboot:sitedomain}/skin/images/disposition/typicalcase2.jpg"
          alt=""
        />
      </section>
    </section>
    <!-- 水务行业 -->
    <section class="solution__case--dec" style="display: none">
      <section>
        <section>
          <section style="width: 70px">案例背景：</section>
          <section>
            Y水务建设集团有限公司主要业务为水资源开发、调配、综合利用等。目前设备管理工作存在的痛点主要有：设备台账树过于通用，不是和水处理公司，且查询复杂；缺乏适用于水处理的保养、维修和点巡检规范，停机时长未改善等。
          </section>
        </section>
        <section style="margin-top: 25px">
          <section style="width: 70px">解决方案：</section>
          <section>
            <section>
              ■
              搭建机至设备运维管理平台，建立系统性的、先进的、标准的设备资产管理体系和流程，提升综合设备效率；
            </section>
            <section>
              ■ 优化设备台账、计划及预防性维修流程，减少突发性的非计划设备故障；
            </section>
            <section>
              ■ 建设集团远程协作中心，提升集团、下属各工厂之间的协作效率；
            </section>
            <section>
              ■ 建立人工智能学习平台，通过大数据和算法构建专业的维修知识库体系。
            </section>
          </section>
        </section>

        <section style="margin-top: 40px">
          <section style="width: 70px">预估效益：</section>
          <section>
            <section>
              工作效率提升50%，设备故障率降低13%。
              <section
                style="
                  width: 228px;
                  height: 3px;
                  background: linear-gradient(
                    270deg,
                    rgba(198, 33, 39, 0) 0%,
                    #c62127 100%
                  );
                  position: relative;
                  top: -7px;
                "
              ></section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <img
          src="{pboot:sitedomain}/skin/images/disposition/typicalcase3.jpg"
          alt=""
        />
      </section>
    </section>
    <!-- 食品行业 -->
    <section class="solution__case--dec" style="display: none">
      <section>
        <section>
          <section style="width: 70px">案例背景：</section>
          <section>
            Z集团是一家以农牧食品为核心，同时涉足10
            多个行业领域的多元化跨国企业集团，业务遍及100多个国家和地区。当前为满足集团发展，要求升级系统实现对生产设备全生命周期进行管理，以确保生产的食品产品安全且高质量。
          </section>
        </section>
        <section style="margin-top: 25px">
          <section style="width: 70px">解决方案：</section>
          <section>
            <section>
              ■
              搭建机至设备运维管理平台，建立系统性的、先进的、标准的设备资产管理体系和流程，提升综合设备效率；
            </section>
            <section>
              ■
              以资产模型、设备台账为基础，以工单的创建、审批、执行、关闭为主线，将传统的被动检修转变为积极主动的预防性维修；
            </section>
            <section>■ 实时数据采集预防性维护。</section>
          </section>
        </section>

        <section style="margin-top: 40px">
          <section style="width: 70px">预估效益：</section>
          <section>
            <section>
              库存成本降低15%，设备使用率提升15%。
              <section
                style="
                  width: 228px;
                  height: 3px;
                  background: linear-gradient(
                    270deg,
                    rgba(198, 33, 39, 0) 0%,
                    #c62127 100%
                  );
                  position: relative;
                  top: -7px;
                "
              ></section>
            </section>
          </section>
        </section>
      </section>
      <section>
        <img
          src="{pboot:sitedomain}/skin/images/disposition/typicalcase4.jpg"
          alt=""
        />
      </section>
    </section>
    <a
      href="/?case/"
      class="v1"
      style="
        font-size: 14px;
        color: #333333;
        box-shadow: inset 0px 1px 0px 0px #e9e9e9;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      "
    >
      查看更多
      <img
        src="{pboot:sitedomain}/skin/images/disposition/arrow.png"
        style="width: 15px; margin-left: 6px"
        alt=""
      />
    </a>
  </section>
</section>
